# Ambiente virtual
.venv/
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Streamlit
.streamlit/secrets.toml

# Arquivos de ambiente
#.env

# Credenciais
service_account.json
secrets/
*.json

# Logs e temporários
logs/
data_temp/
*.log
*.tmp

# VS Code
.vscode/

# SO
.DS_Store
Thumbs.db